body{
    background-color: white;
    max-width: 500px;
}
h1{
    color:white!important;
    background-color: red; 
    text-align: center; 
    max-width: 500px;
}
#abc{
    height: 70px;
}
#a{
    position: relative;
    left:50px;
    width: 100px;
    float: left;
}
#b{
    position: relative;
    right:250px; 
    width: 100px;
    float:right;
}
#c{
    position: relative;
    right:10px;
    width: 100px;
    float: right;
}
#button{
    height: 100px;
}