body{
    max-width: 580px;
}
h1{
    text-align: center;
}
td{
    width: 80px;
    height: 50px;
    border: 1px solid black;
}
th{
    color: white;
    width: 80px;
    height: 30px;
}
td,th{
    
    text-align: center;
}